<% layout('layouts/boilerplate') %>
<div class="min-full-screen">
  <div class="show-header-container">
    <div class="show-header">
      <h1 class="show-header-text">Our racetracks</h1>
    </div>
  </div>
  <div class="racetrack-card-container">
    <% for( let racetrack of racetracks ) { %>
    <div class="racetrack-card">
      <img
        class="card-img"
        alt="MISSING JPG"
        src="<%= racetrack.img[0] ? racetrack.img[0].carousel : 'img/noimg.jpg' %>"
      />
      <div class="card-content">
        <div class="text-content">
          <h2 class="card-title text-content-element"><%= racetrack.name %></h2>
          <p class="text-location text-content-element">
            <%= racetrack.location %>
          </p>
          <p class="card-text text-content-element">
            <%= racetrack.description %>
          </p>
          <p class="card-text text-content-element">
            <% if (racetrack.avg != -1) { %> Average rating: <%= racetrack.avg%>
            <% } else { %> No reviews <% } %>
          </p>
        </div>
        <div class="btn-content">
          <a
            class="btn btn-primary-green"
            href="/racetracks/<%= racetrack.id %>"
            >Details</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
