<% layout('layouts/boilerplate') %>
<div class="min-full-screen">
  <div class="form-wrapper-md">
    <form
      action="/racetracks/<%= racetrack.id %>/photos"
      method="POST"
      novalidate
      class="form"
      enctype="multipart/form-data"
    >
      <h1 class="form-title">Add new photos to <%= racetrack.name %></h1>
      <div class="form-group">
        <label class="form-label" for="img">Enter the images: </label>
        <input
          class="form-control"
          type="file"
          id="img"
          name="img"
          required
          multiple
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary-green">Add photos</button>
      </div>
    </form>
  </div>
  <div class="form-wrapper-md">
    <form
      action="/racetracks/<%= racetrack.id %>/photos?_method=DELETE"
      method="POST"
      novalidate
      class="form"
    >
      <h1 class="form-title">Or select and delete existing photos:</h1>
      <ul class="image-checkbox-list">
        <% let num = 0; for(let img of racetrack.img) { %>
        <li>
          <input
            type="checkbox"
            id="<%= img.filename %>"
            value="<%= img.filename %>"
            name="imageNames[]"
          />
          <label for="<%= img.filename %>">
            <img src="<%= img.thumbnail %>" />
          </label>
        </li>
        <% } %>
      </ul>
      <div class="form-group">
        <button class="btn btn-primary-green">Remove photos</button>
        <a class="btn btn-red" href="/racetracks/<%= racetrack.id %>">
          Quit editing
        </a>
      </div>
    </form>
  </div>
</div>
