<% layout('layouts/boilerplate') %> 
<h1><%= racetrack.name %></h1>
<h2>Located in <%= racetrack.location %></h2>
<img src="<%= racetrack.img %>" class="w-100">
<p><%= racetrack.description %></p>
<p>Price per lap: <%= racetrack.pricePerLap %></p>

<a href="/racetracks">Go back to the list of racetracks</a>
<br>
<a href="/racetracks/<%= racetrack.id %>/edit">Edit this racetrack</a>
<br>
<form action="/racetracks/<%= racetrack.id %>?_method=DELETE" method="POST">
    <button>Delete this racetrack</button>
</form>
