<% layout('layouts/boilerplate') %> 
<h1>Details about <%= racetrack.name %></h1>
<ul>
    <li>Price per lap: <%= racetrack.pricePerLap %> </li>
    <li>Location: <%= racetrack.location %> </li>
    <li>Description: <%= racetrack.description %> </li>
</ul>
<a href="/racetracks">Go back to the list of racetracks</a>
<br>
<a href="/racetracks/<%= racetrack.id %>/edit">Edit this racetrack</a>
<br>
<form action="/racetracks/<%= racetrack.id %>?_method=DELETE" method="POST">
    <button>Delete this racetrack</button>
</form>
