<% layout('layouts/boilerplate') %> 
<h1><%= racetrack.name %></h1>
<h2>Located in <%= racetrack.location %></h2>
<img src="<%= racetrack.img %>" class="w-100">
<p><%= racetrack.description %></p>
<p>Price per lap: <%= racetrack.pricePerLap %></p>

<a class ="btn btn-primary mb-3" href="/racetracks/<%= racetrack.id %>/edit">Edit this racetrack</a>

<form action="/racetracks/<%= racetrack.id %>?_method=DELETE" method="POST">
    <button class="btn btn-primary mb-3">Delete this racetrack</button>
</form>
